.clients_wrapper {
  margin-top: 156px;

  .logo_wrapper {
    padding-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
    column-gap: 98px;
    row-gap: 50px;

    .client_logo {
      aspect-ratio: 16/9;
      // height: 55px;

      & img {
        object-fit: contain;
      }
    }
  }
}
