// @import url('@styles/variables.scss');

.hero_container {
  position: relative;
  background: #fefefe;

  .bg_video {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: contain;
  }

  .hero {
    height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .hero_wrapper {
      display: flex;
      flex-direction: column;
      gap: 60px;

      .hero_heading {
        & h1 {
          // line-height: 66px;

          .line {
            overflow: hidden;
            display: flex;
            align-items: center;
            span {
              color: $light-red;
            }
          }
        }
      }
    }
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid $dark-red; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  color: $off-black;
  font-size: 28px;
  
  animation: 
    typing 3.5s steps(40) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 240px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $dark-red; }
}