// @import url('@styles/variables.scss');

.hero_container {
  position: relative;
  background: #fefefe;

  .bg_video {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: contain;
  }

  .hero {
    height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .hero_wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;
        margin-top: 200px;
      .hero_heading {
        & h1 {
          // line-height: 65px;
          font-weight: 600;

          .line {
            // position: relative;
            // top: 50%;
            // width: 24em;
            // margin: 0 auto;
            // border-right: 2px solid rgba(75, 75, 75, 0.75);
            // // font-size: 180%;
            // // text-align: center;
            // white-space: nowrap;
            overflow: hidden;
            // transform: translateY(-50%);
              color: $off-black;
            & span {
              color: $light-red !important;
            }
          }
        }
      }
    }
  }
}

.line1{
  display: flex;
  align-items: self-start;
  color: $dark-red;
  // margin-top: ;
}