// @import url('@styles/variables.scss');

.hero_container {
  position: relative;
  background: #fefefe;

  .bg_video {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: contain;
  }

  .hero {
    height: 100dvh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .hero_wrapper {
      display: flex;
      flex-direction: column;
      gap: 50px;
        margin-top: 200px;
      .hero_heading {
        & h1 {
          // line-height: 65px;
          font-weight: 600;

          .line {
            overflow: hidden;
              color: $off-black;
            & span {
              color: $light-red !important;
            }
          }
        }
      }
    }
  }
}

.line1{
  display: flex;
  align-items: self-start;
  color: $dark-red;
  font-size:40px ;
  font-weight: 600;
}


.anim_typewriter{
  width: 180px;
  border-right: 2px solid $dark-red;
  white-space: nowrap;
  overflow: hidden;
  color: $off-black;
animation: typewriter 4s steps(44)  infinite  alternate,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 180px;}
}
@keyframes blinkTextCursor{
from{border-right-color: $dark-red;}
to{border-right-color: transparent;}
}