.product_grid {
  grid-column-gap: 0px;
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    grid-template-columns: minmax(525px, 1fr) 1fr;
  }

  @media (max-width: 640px) {
    padding: 0 20px;
  }

  @media (max-width: 1024px) {
    padding: 0 40px;
  }

  .product_thumb {
    height: 100%;
    min-height: 700px;
    // margin-right: 197px;
    // grid-area: span 1 / span 1 / span 1 / span1;

    .product_assets {
      height: 100%;
      position: relative;
      // background-color: #f0f9ff;
      margin-right: 197px;

      @media (max-width: 1280px) {
        margin-right: 130px;
      }

      @media (max-width: 1024px) {
        margin-right: 90px;
      }

      .product_assets_wrapper {
        // width: 100%;
        height: 100%;
        max-height: 720px;
        max-width: 535px;
        overflow: hidden;
        right: 0;
        // border: 1px solid red;
        position: relative;
        isolation: isolate;

        @media (min-width: 1024px) {
          position: absolute;
        }

        .product_image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .product_content {
    // grid-area: span 1 / span 1 / span 1 / span1;
    justify-self: start;

    // min-width: 525px;
    max-width: 530px;
    width: 100%;
    display: flex;
    flex-direction: column;
    // padding-left: 40px;
    position: relative;

    // @media (max-width: 1024px) {
    //   margin-right: 150px;
    // }

    & h1 {
      margin-bottom: 40px;
    }

    & p,
    a {
      margin-bottom: 55px;
      font-weight: normal;
      width: fit-content;
    }

    .secondary_btn {
      position: relative;
      font-size: 26px;
      line-height: 31px;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      width: fit-content;
      background: transparent;
      // border: none;
      cursor: pointer !important;
      pointer-events: all;

      &:hover .hover_action {
        transform: translateX(0);
        opacity: 1;
      }

      .hover_action {
        position: absolute;
        background: $light-red;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 50%;
        color: $white;
        top: -70px;
        right: -30px;
        z-index: -2;
        transform: translateX(-100px);
        opacity: 0;
        transition: ease 400ms;
      }
    }
  }

  &:nth-of-type(even) {
    .product_thumb {
      @media (min-width: 1024px) {
        order: 2;
      }

      .product_assets {
        margin-left: 197px;
        margin-right: 0;

        // @media (min-width: 1440px) {
        //   margin-right: 197px;
        // }

        @media (max-width: 1280px) {
          margin-left: 130px;
        }

        @media (max-width: 1024px) {
          margin-left: 90px;
        }

        .product_assets_wrapper {
          left: 0;
          // max-width: 530px;

          @media (min-width: 1024px) {
            position: absolute;
          }
        }
      }
    }

    .product_content {
      // padding-right: 40px;
      padding-left: 0px;
      order: 1;

      @media (min-width: 1024px) {
        justify-self: end;
      }
    }
  }
}
