.nav_container {
  position: absolute;

  .nav_wrapper {
    width: 100%;
    width: 1064px;
    max-width: 1064px;
    padding-top: 96px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .ham_menu {
      button {
        cursor: pointer;
        background: transparent;
        border: none;
      }
    }
  }
}
