.nav_container {
  position: absolute;
  // max-width: 1066px;
  width: 100%;
  z-index: 20;
  top: 90px;
  // margin: 0 auto;
  // left: 0;
  // right: 0;

  .nav_wrapper {
    width: 100%;
    width: 1064px;
    max-width: 1064px;
    // padding-top: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .ham_menu {
      button {
        cursor: pointer;
        background: transparent;
        border: none;
      }
    }
  }
}
